.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ListContainer {
  display: inline-block;
  border: 1px solid black;
}
.List {
  display: inline-block;
  background-color: lightyellow;
  /* min-height: 1vh; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1.5rem;
  color: blue;
  font-weight: bold;
  margin: 1rem;
  /* border: 1px solid black; */
}
